<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="indexx">
                <img src="/img/logo.png" alt="Logo de UPSIN">
                <h1 class="nt">NOSOTROS</h1>
                <p>La Universidad Politécnica de Sinaloa (UPSIN) surge a partir de una correspondencia de los dos niveles de gobierno, Federal y Estatal, 
                    compartiendo la misma preocupación de diversificar la oferta educativa en aquellas regiones que carezcan de opciones viables de operar. 
                    Además, surge como parte de la propuesta contenida en el Programa Nacional de Educación 2000-2006, que pretende impulsar el desarrollo 
                    con equidad de un sistema de educación superior de buena calidad que responda con oportunidad a las demandas sociales y económicas del país 
                    y obtenga mejores niveles de certidumbre, confianza y satisfacción de sus resultados.</p>
        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>