<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head.html');%>
    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>

        <div class="contenedor">
            <div class="indexx">
                <h1 class="nt">CORTE 3 EVIDENCIA UNO</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit dolorem dolores nesciunt vel perspiciatis! Vero sint error ipsum? Quam blanditiis repellat, iure iste itaque officia consectetur quibusdam perferendis facere nemo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam perspiciatis deserunt saepe eligendi, quos adipisci exercitationem provident amet voluptatum in? Aspernatur voluptatibus nobis accusamus, fugiat ut eaque inventore placeat praesentium?
                </p>
            </div>

        </div>
        <%-include('partials/footer.html');%>
    </body>
</html>